.dropdown-menu {
    position: absolute; 
    will-change: transform;
    top: 0px; left: 0px;
    transform: translate3d(0px, 36px, 0px);
}

.convert-wrapper {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.title {
    color: rgb(112, 111, 111);
    padding-top: 20px;
}
